.formContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  align-items: center;
  padding: 30px;
}
.formButton {
  margin: 10px;
  width: 30%;
}
.accordion {
  /* border: 2px solid red; */
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
